---
import GitHub from "./icons/GitHub.astro";
import ReactIcon from "./icons/React.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import NodeIcon from "./icons/NodeJS.astro";
import FirebaseIcon from "./icons/Firebase.astro";
import FlutterIcon from "./icons/Flutter.astro";
import DartIcon from "./icons/Dart.astro";
import KotlinIcon from "./icons/Kotlin.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  REACT: {
    name: "React",
    class: "bg-[#23262E] text-white",
    icon: ReactIcon,
  },
  NODE: {
    name: "Node.JS",
    class: "bg-[#303030] text-white",
    icon: NodeIcon,
  },
  FLUTTER: {
    name: "Flutter",
    class: "bg-[#042B59] text-white",
    icon: FlutterIcon,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-[#FF9100] text-white",
    icon: FirebaseIcon,
  },
  DART: {
    name: "Dart",
    class: "bg-[#00A255] text-white",
    icon: DartIcon,
  },
  KOTLIN: {
    name: "Kotlin",
    class: "bg-[#874AFB] text-white",
    icon: KotlinIcon,
  },
};
const PROJECTS = [
  {
    title: "Perfect Text - Herramienta para estudiantes",
    description:
      "Aplicación web para corregir y optimizar textos. Generar qüestionarios y mapas conceptuales. Creado desde cero con React y Node JS. ",
    link: "https://perfecttext.ai/",
    github: "https://github.com/Didac-Gros/PerfectText",
    image: "/projects/perfectText.webp",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.NODE],
  },
  {
    title: "ExitNow - Red social basada en comunidades",
    description:
      "Aplicación móbil multiplataforma que trata de una red social para compartir y publicar fotografías al instante, sin filtros de por medio. Creado con el SDK de Flutter y Firebase.",
    github: "https://github.com/f1nga/exit_now",
    image: "/projects/exitnow.webp",
    tags: [TAGS.FLUTTER, TAGS.FIREBASE, TAGS.DART],
  },
  {
    title: "SimBank - Simulador de banca online",
    description:
      "Aplicación móbil para Android que simula el funcionamiento de una banca online con transferencias, bizums, tarjetas, contactos y misiones para aprender a manejar dinero. Creado con Kotlin y Firebase.",
    github: "https://github.com/f1nga/SIM_BANK",
    image: "/projects/simbank.webp",
    tags: [TAGS.KOTLIN, TAGS.FIREBASE],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={`Captura de pantalla de la página web de ${link}`}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-100">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-400">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
